[*.cs]
# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none
# CA2007: Do not directly await a Task without calling ConfigureAwait
dotnet_diagnostic.CA2007.severity = none\
# Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1040.severity = none


[**Migrations/*.cs]
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA1062.severity = none

