name: Deploy Production

on:
  push:
    tags:
      - 'v*'

env:
  DOTNET_VERSION: 8.0.x
  ASPNETCORE_ENVIRONMENT: Production
  
  TMDB__ApiKey: ${{ secrets.TMDB__APIKEY }}
  TMDB__BearerToken: ${{ secrets.TMDB__BEARERTOKEN }}
  WATCHMODE__ApiKey: ${{ secrets.WATCHMODE__APIKEY }}
  RESEND__ApiKey: ${{ secrets.RESEND__APIKEY }}
  CONNECTIONSTRINGS__SUPABASEDB: ${{ secrets.CONNECTIONSTRINGS__SUPABASEDB }}
  LOGTAIL__ApiKey: ${{ secrets.LOGTAIL__APIKEY }}


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./lumires.Composition/lumires.Composition.csproj -c Release -o ./publish --no-build
